
h1 {
    text-align: center;
}

.calculator {
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 8px;
    border: solid 2px black;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.display {
    border: solid 2px black;
    flex: 1;
}

.button-container {
    border: solid 2px black;
    padding: 8px;
    flex: 5;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr); 
}

.button {
    margin: 8px;
    border: solid 2px black;
}

.long-button {
    grid-column: auto / span 2;
}